.wrapper {
  text-align: center;
  width: 50%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.filter {
  margin: 15px 0 15px;
  height: 30px;
}

.number {
  width: 7%;
}

thead {
  cursor: pointer;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d2c2c;
}

.pagination__item {
  float: left;
}

.pagination__link {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.pagination__link:hover {
  background-color: #928e8e;
}